* {
    box-sizing: border-box;
}

body {
    background-color: rgb(175, 168, 168);
    text-align: center;
}

.canvas-box {
    width: 500px;
    height: 500px;
    margin: auto;
}

.editor-canvas {
    border: 1px solid black;
}
