* {
    box-sizing: border-box;
    -webkit-appearance: none;
}

body {
    background-color: rgb(175, 168, 168);
}

.home-btn {
    display: none;
    margin: 5px auto;
}

.home-btn:hover {
    opacity: 0.7;
}

.header {
    width: 100%;
    background-color: chocolate;
    border: 3px solid black;
    border-bottom: 0;
    display: flex;
    align-items: center;
}

.header img {
    width: 250px;
    padding: 5px;
    margin: auto;
}

.navbar {
    background-color: blanchedalmond;
    border: 3px solid black;
    display: flex;
    align-items: center;
    border-radius: 0 0 30px 30px
}

.navbar h2 {
    margin-left: 100px;
    border-bottom: 1px solid black;
    cursor: text;
}

.navbar h1 {
    margin: auto;
    font-size: 2rem;
    font-weight: bolder;
    color: rgb(163, 93, 7);
}

.gallery {
    display: grid;
    max-width: 1024px;
    margin: auto;
    grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
    grid-template-rows: repeat(3, 145px);
    gap: 10px;
    margin-top: 10px;
}

.gallery > * {
    min-height: 145px;
    max-width: 170px;
    border: 3px solid black;
}

.img , .home-btn {
    cursor: pointer;
}

.img:hover {
    opacity: 0.7;
}

.editor {
    display: none;
    margin: 1px 200px;
    max-width: 80%;
    grid-template-columns: 2fr 500px;
    grid-template-rows: 1fr;
}

.canvas-box {
    max-width: 500px;
    margin: auto;
    margin-left: 0;
    max-width: 50%;
    /* grid-column: 2fr; */
    /* border: 1px solid black; */
}

.control-box {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid black; */
    border-radius: 20px;
    background-color:lightslategray;
    min-width: 70%;
    /* margin-right: 0; */
    grid-column: 2;
    margin: 30px auto 30px;
    padding: 40px;

}

.control-box > * {
    text-align: center;
}

.text-lines-box {
    display: flex;
    justify-content: center;
}

#text-line {
    /* margin: 10px auto 10px; */
    width: 130px;
    height: 40px;
    display: block;
}

.font-props-box {
    display: flex;
    flex-direction: row;
    margin: 5px;
    /* flex-wrap: wrap; */
}

.font-resizing-btns button img,
.txtlines-moving-btns button img {
    width: 30px;
    /* height: 40px; */
    cursor: pointer;
}

.align-btns button img {
    width: 20px;
}

.switch-line-btn {
    align-self: center;
}

.align-btns {
    display: flex;
    margin: auto;
}

.font-resizing-btns {
    margin: auto;
    margin-right: 0;
}

.font-type-dropdown {
    border: 2px solid black;
    background-color: rgb(148, 156, 173);
    margin: 20px;
    /* margin-right:; */
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    -webkit-appearance: push-button;
}

.font-type-dropdown > * {
    font-weight: bold;
}

.font-type-dropdown:hover {
    background-color: rgb(132, 144, 170);
}

.add-delete-btns {
    margin-top: 10px;
}

.add-delete-btns button img,
.switch-line-btn img {
    width: 30px;
    /* height: 30px; */
    cursor: pointer;
}

.color-inputs {
    margin: 2px auto;
}
.color-inputs > *{
    width: 40px;
    /* height: 40px; */
    cursor: pointer;
}

/* .add-delete-btns {
    margin: auto;
} */

.stickers-box > * {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.social-box {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.upload-btn {
    /* margin-top: 30px; */
    position: relative;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgb(63, 63, 168);
    border: 3px solid black;
    color: burlywood;
    transition: padding 0.5s;
    /* padding-top: 0; */
}

.upload-btn:hover {
    opacity: 0.8;
    padding-right: 30px;
}

.upload-btn span {
    visibility: hidden;
    position: absolute;
    /* transition: visibility 0.3s; */
}

.upload-btn:hover span {
    right: 5px;
    /* left: 50px; */
    /* text-align: center; */
    line-height: 20px;
    visibility: visible;
}

.facebook-box {
    padding: 3px 0 0 10px;
    /* padding-top: 4px; */
}

.facebook-logo {
    width: 17px;
    height: 17px;
}

button:hover {
    cursor: pointer;
}
 

@media (max-width: 1000px) {
    .editor {
        margin-left: 0;
    }
    .control-box {
        margin-left: 5px;
    }
}

@media (max-width: 600px) {
    .top-bar {
        width: 400px;
        margin-left: 0;
    }
    .home-btn {
        margin-left: 180px;
    }
    .editor {
        /* margin: 0 */
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
        margin-left: 0;
    }
    .canvas-box {
        text-align: center;
    }
    .control-box {
        grid-row: 2;
        grid-column: 1;
        margin: auto;
    }
}